@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

/* Colors */
$colorMainBackground: #f5f5f5;
$colorWhite: #ffffff;
$colorPrimaryBlue: #3498DB;
$colorPrimaryRed: #E14D4C;
$colorPrimaryGreen: #86E588;
$colorPrimaryGray: #B5B5B5;
$colorSecondaryGray: #C1C1C1;
$colorInputBorder: #d2d2d2;
$colorDivider: #F2F2F2;
$colorPrimaryDark: #495D71;


/* Fonts */
$open-sans: 'Open Sans', sans-serif;

